<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.imixs.eclipse.workflowmodeler.serverconnectors">
      <server
            class="org.imixs.eclipse.workflowmodeler.rest.RestServiceConnector"
            name="REST Service">
      </server>
   </extension>

</plugin>
